假如出現<pre>WTForms: Install 'email_validator' for email validation support</pre>
需要另裝package `pip install wtforms[email]`

<hr>
{% for fieldName, errorMessage in form.errors.items() %}
  <p style="color:red">{{ fieldName }}: {{ errorMessage }}</p>
{% endfor %}

<form method="POST" action="{{ url_for('validator_view.email') }}">
    {{ form.csrf_token }}
    {{ form.email.label }} {{ form.email(size=30) }}<br/>
    {{ form.submit }}
</form>

{% if success %}
<div style="color:green">
  Post data success:
  <p>{{ form.email.data }}</p>
</div>
{% endif %}